{% extends 'admin/common/base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('owl.carousel') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-xl-6">
            <div class="icon-cards-row">
                <div class="owl-container">
                    <div class="owl-carousel dashboard-numbers">
                        <a href="#" class="card br-0">
                            <div class="card-body text-center">
                                <i class="iconsmind-Speach-Bubble2"></i>
                                <p class="card-text mb-0">Posty</p>
                                <p class="lead text-center">16</p>
                            </div>
                        </a>
                        <a href="#" class="card br-0">
                            <div class="card-body text-center">
                                <i class="iconsmind-Camera-2"></i>
                                <p class="card-text mb-0">Zdjęcia</p>
                                <p class="lead text-center">12</p>
                            </div>
                        </a>

                        <a href="#" class="card br-0">
                            <div class="card-body text-center">
                                <i class="iconsmind-Line-Chart"></i>
                                <p class="card-text mb-0">Odwiedzający</p>
                                <p class="lead text-center">22</p>
                            </div>
                        </a>

                        <a href="#" class="card br-0">
                            <div class="card-body text-center">
                                <i class="iconsmind-Like-2"></i>
                                <p class="card-text mb-0">Polubienia fanpage</p>
                                <p class="lead text-center">25</p>
                            </div>
                        </a>

                        <a href="#" class="card br-0">
                            <div class="card-body text-center">
                                <i class="iconsmind-Instagram"></i>
                                <p class="card-text mb-0">Obserwujący na Instagramie</p>
                                <p class="lead text-center">33</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 mb-4">
                    <div class="card br-0 dashboard-filled-line-chart">
                        <div class="card-body">
                            <div class="float-left float-none-xs">
                                <div class="d-inline-block">
                                    <h5 class="d-inline">Wyświetlenia strony</h5><span class="text-muted text-small d-block">Unikalni odwiedzający</span>
                                </div>
                            </div>
                            <div class="btn-group float-right float-none-xs mt-2">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-primary btn-xs dropdown-toggle" data-toggle="dropdown" type="button">Ten Tydzień</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Ostatni Tydzień</a>
                                    <a class="dropdown-item" href="#">Ten Miesiąc</a>
                                </div>
                            </div>
                        </div>
                        <div class="chart card-body pt-0">
                            <canvas id="visitChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-12 mb-4">
            <div class="card h-100 br-0">
                <div class="card-body">
                    <h5 class="card-title">Najczęściej wyświetlane posty</h5>
                    <div class="container-fluid dt-bootstrap4 no-footer">
                        <table class="data-table responsive nowrap dataTable" style="width: 639px;">
                            <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Wyświetlenia</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="even" role="row">
                                <td>
                                    <p class="list-item-heading">Tytuł posta z bloga, obvious with hyperlinx to edit/see</p>
                                </td>
                                <td>
                                    <p class="text-muted">1420</p>
                                </td>
                            </tr>
                            <tr class="odd" role="row">
                                <td>
                                    <p class="list-item-heading">Tytuł posta z bloga, obvious with hyperlinx to edit/see</p>
                                </td>
                                <td>
                                    <p class="text-muted">1360</p>
                                </td>
                            </tr>
                            <tr class="even" role="row">
                                <td>
                                    <p class="list-item-heading">Tytuł posta z bloga, obvious with hyperlinx to edit/see</p>
                                </td>
                                <td>
                                    <p class="text-muted">1310</p>
                                </td>
                            </tr>
                            <tr class="odd" role="row">
                                <td>
                                    <p class="list-item-heading">Tytuł posta z bloga, obvious with hyperlinx to edit/see</p>
                                </td>
                                <td>
                                    <p class="text-muted">1245</p>
                                </td>
                            </tr>
                            <tr class="even" role="row">
                                <td>
                                    <p class="list-item-heading">Tytuł posta z bloga, obvious with hyperlinx to edit/see</p>
                                </td>
                                <td>
                                    <p class="text-muted">1100</p>
                                </td>
                            </tr>
                            <tr class="even" role="row">
                                <td>
                                    <p class="list-item-heading">Tytuł posta z bloga, obvious with hyperlinx to edit/see</p>
                                </td>
                                <td>
                                    <p class="text-muted">1100</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card br-0 dashboard-last-post-banner justify-content-end" style="background-image: url(https://wmeritum.pl/wp-content/uploads/2018/09/Astronomiczna-jesie%C5%84-960x570.jpg);">
                <div class="card-body justify-content-end d-flex flex-column">
                    <span class="badge badge-pill badge-theme-3 align-self-start mb-3">OSTATNI POST</span>
                    <p class="lead text-white">Jesień to magiczny czas!</p>
                    <p class="text-white">1234 Wyświetlenia</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-8 mb-4">
            <div class="card br-0">
                <div class="card-body">
                    <h5 class="card-title">Ostatnie komentarze</h5>

                    <div class="scroll dashboard-list-with-user">
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img alt="Profile Picture" src="https://dore-jquery-web.coloredstrategies.com/img/profiles/l-1.jpg" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0">Bardzo kreatywny post, pozdrawiam!</p>
                                    <p class="text-muted mb-0 text-small">Monika G. | Jesień to magiczny czas | 05.11.2020 - 17:10</p>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img alt="Profile Picture" src="https://dore-jquery-web.coloredstrategies.com/img/profiles/l-1.jpg" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0">Bardzo kreatywny post, pozdrawiam!</p>
                                    <p class="text-muted mb-0 text-small">Monika G. | Jesień to magiczny czas | 05.11.2020 - 17:10</p>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img alt="Profile Picture" src="https://dore-jquery-web.coloredstrategies.com/img/profiles/l-1.jpg" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0">Bardzo kreatywny post, pozdrawiam!</p>
                                    <p class="text-muted mb-0 text-small">Monika G. | Jesień to magiczny czas | 05.11.2020 - 17:10</p>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex flex-row mb-3 pb-3">
                            <a href="#">
                                <img alt="Profile Picture" src="https://dore-jquery-web.coloredstrategies.com/img/profiles/l-1.jpg" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0">Bardzo kreatywny post, pozdrawiam!</p>
                                    <p class="text-muted mb-0 text-small">Monika G. | Jesień to magiczny czas | 05.11.2020 - 17:10</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 mb-4">
            <div class="card br-0">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">Przestrzeń dyskowa</h6>
                    <p class="text-small">250/1000</p>
                    <div role="progressbar" class="progress-bar-circle position-relative" data-color="#922c88"
                         data-trailColor="#d7d7d7" aria-valuemax="100" aria-valuenow="25" data-show-percent="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- chart bundle -->
    {{ encore_entry_script_tags('Chart.bundle') }}

    <!-- dashboard fast stats in owl-carousel -->
    {{ encore_entry_script_tags('owl.carousel') }}

    <!-- prepare custom charts and elements  -->
    <script>
        $(document).ready(function () {
            // prepare carousel
            (function ($) {
                $(".dashboard-numbers")
                    .owlCarousel({
                        margin: 15,
                        autoplaySpeed: 500,
                        loop: true,
                        autoplay: true,
                        stagePadding: 5,
                        responsive: {
                            0: {
                                items: 1
                            },
                            320: {
                                items: 2
                            },
                            576: {
                                items: 3
                            },
                            1200: {
                                items: 3
                            },
                            1440: {
                                items: 3
                            },
                            1800: {
                                items: 4
                            }
                        }
                    })
            })(jQuery);

            // get colors
            var rootStyle = getComputedStyle(document.body);
            var themeColor1 = rootStyle.getPropertyValue("--theme-color-1").trim();
            var themeColor1_10 = rootStyle.getPropertyValue("--theme-color-1-10").trim();
            var primaryColor = rootStyle.getPropertyValue("--primary-color").trim();
            var foregroundColor = rootStyle.getPropertyValue("--foreground-color").trim();
            var separatorColor = rootStyle.getPropertyValue("--separator-color").trim();

            // prepare dashboard visit chart
            if (document.getElementById("visitChart")) {
                var chartTooltip = {
                    backgroundColor: foregroundColor,
                    titleFontColor: primaryColor,
                    borderColor: separatorColor,
                    borderWidth: 0.5,
                    bodyFontColor: primaryColor,
                    bodySpacing: 10,
                    xPadding: 15,
                    yPadding: 15,
                    cornerRadius: 0.15,
                    displayColors: false
                };

                var visitChart = document.getElementById("visitChart").getContext("2d");
                var myChart = new Chart(visitChart, {
                    type: "LineWithShadow",
                    options: {
                        plugins: {
                            datalabels: {
                                display: false
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [
                                {
                                    gridLines: {
                                        display: true,
                                        lineWidth: 1,
                                        color: "rgba(0,0,0,0.1)",
                                        drawBorder: false
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        stepSize: 5,
                                        min: 50,
                                        max: 70,
                                        padding: 0
                                    }
                                }
                            ],
                            xAxes: [
                                {
                                    gridLines: {
                                        display: false
                                    }
                                }
                            ]
                        },
                        legend: {
                            display: false
                        },
                        tooltips: chartTooltip
                    },
                    data: {
                        labels: ["Pon", "Wt", "Śr", "Czw", "Pt", "Sob", "Nd"],
                        datasets: [
                            {
                                label: "",
                                data: [54, 63, 69, 65, 60, 68, 60],
                                borderColor: themeColor1,
                                pointBackgroundColor: foregroundColor,
                                pointBorderColor: themeColor1,
                                pointHoverBackgroundColor: themeColor1,
                                pointHoverBorderColor: foregroundColor,
                                pointRadius: 4,
                                pointBorderWidth: 2,
                                pointHoverRadius: 5,
                                fill: true,
                                borderWidth: 2,
                                backgroundColor: themeColor1_10
                            }
                        ]
                    }
                });
            }
        });
    </script>
{% endblock %}
