{% extends 'landingPage/common/base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block bodyclass %}{% endblock %}
{% block body %}
    <section class="features-area bg-ffffff pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Some <span>Reasons</span> To Choose Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-features">
                        <div class="features-title">
                            <i class="flaticon-balance"></i>
                            <h3><a href="services-details.html">Psychology Therapy</a></h3>
                            <span>For Every Kind Of Mental Stress</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-features">
                        <div class="features-title">
                            <i class="flaticon-exhausted"></i>
                            <h3><a href="services-details.html">Restoring Confidence</a></h3>
                            <span>At Every Situation</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-features">
                        <div class="features-title">
                            <i class="flaticon-triumph"></i>
                            <h3><a href="#">Work Improvements</a></h3>
                            <span>In A Continuous Process</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="offer-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="offer-item">
                        <div class="content">
                            <h2>Services That We Offer</h2>
                        </div>
                        <div class="accordion">
                            <div class="accordion-item">
                                <div class="accordion-title active">
                                    <i class="flaticon-imagination"></i>
                                    <h3>Teens Consultation</h3>
                                    <span>For Better Development</span>
                                </div>
                                <div class="accordion-content show">
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="services-details.html" class="offer-btn">Read More</a>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-title">
                                    <i class="flaticon-introvert"></i>
                                    <h3>Family Consultation</h3>
                                    <span>For Every Family Problem</span>
                                </div>
                                <div class="accordion-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="services-details.html" class="offer-btn">Read More</a>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-title">
                                    <i class="flaticon-anger"></i>
                                    <h3>One To One Consultation</h3>
                                    <span>For Psychological Problem</span>
                                </div>
                                <div class="accordion-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="services-details.html" class="offer-btn">Read More</a>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-title">
                                    <i class="flaticon-bipolar"></i>
                                    <h3>Couple Therapy</h3>
                                    <span>For Couple Goal</span>
                                </div>
                                <div class="accordion-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="services-details.html" class="offer-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="all-offer-btn">
                            <a href="services.html" class="default-btn">
                                Discover All Services
                                <i class="flaticon-repairing-service"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="offer-image">
                        <img src="public/assets/images/offer/offer-1.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fun-facts-area bg-top pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="flaticon-trophy"></i>
                        </div>
                        <h3>
                            <span class="odometer odometer-auto-theme" data-count="15"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">2</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">5</span></span></span></span></span></div></span>
                            <span class="sign-icon">lat</span>
                        </h3>
                        <p>Doświadczenia</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="flaticon-customer"></i>
                        </div>
                        <h3>
                            <span class="odometer odometer-auto-theme" data-count="5000"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span></div></span>
                            <span class="sign-icon"><b>+</b></span>
                        </h3>
                        <p>Zadowolonych klientów</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="flaticon-user"></i>
                        </div>
                        <h3>
                            <span class="odometer odometer-auto-theme" data-count="100"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">5</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span></div></span>
                            <span class="sign-icon"><b>%</b></span>
                        </h3>
                        <p>Pasji</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="flaticon-medal"></i>
                        </div>
                        <h3>
                            <span class="odometer odometer-auto-theme" data-count="23"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">2</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">3</span></span></span></span></span></div></span>
                            <span class="sign-icon"><b>+</b> Winning</span>
                        </h3>
                        <p>Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="coaches-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2><span>Nasz zespół</span></h2>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-coaches">
                        <div class="image">
                            <a href="#"><img alt="team-image" src="{{ asset('assets/images/team/natalia.jpg') }}"></a>
                            <ul class="social-link">
                                <ul class="social-link">
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="content">
                            <h3><a href="#">Natalia Kopeć</a></h3><span>-- Posada -- </span> <i class='bx bxs-share-alt'></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-coaches">
                        <div class="image">
                            <a href="#"><img alt="team-image" src="{{ asset('assets/images/team/natalia.jpg') }}"></a>
                            <ul class="social-link">
                                <ul class="social-link">
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="content">
                            <h3><a href="#">Natalia Kopeć</a></h3><span>-- Posada -- </span> <i class='bx bxs-share-alt'></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-coaches">
                        <div class="image">
                            <a href="#"><img alt="team-image" src="{{ asset('assets/images/team/wiktoria.jpg') }}"></a>
                            <ul class="social-link">
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h3><a href="#">Wiktoria Skoczylas</a></h3><span>-- Posada -- </span> <i class='bx bxs-share-alt'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
